.cust-nav{
    display: flex;
    background-color:rgba(115, 115, 115,1);
    position: sticky;
    top: 0;
    justify-content: space-between;
}

.cust-nav > ul{
    display: flex;
    list-style-type: none;
    padding:0;
    padding-left:0.5em;
    margin: 0.5em 0;
}

.search-container{
    margin: 0.5em 0;
    padding-right:0.5em;
}

.cust-nav > ul > li > ul{
    list-style-type: none;
}

.nav-item-cust{
    padding:0 0.5em;
}

.nav-item-cust > a{
    text-decoration: none;
    color: white;
    font-size: 1.4em;
    display: flex;
    align-items: center;
}

.nav-item-cust > ul{
    position: absolute;
    padding:0;
    background-color: rgba(115, 115, 115,1);
    /* margin: 0 0.5em; */
    margin-top: 0.3em;
    padding: 0.8em 1.2em;
    color: white;
    font-size: 1.2em;
    box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.5), 0px 3px 4px 0px rgba(0,0,0,0.5), 0px 1px 8px 0px rgba(0,0,0,0.12);
}

.nav-item-cust > ul > li > a{
    color: white;
    font-size: 1.2em;
}


.nav-item-cust > a:hover, .nav-item-cust > ul > li > a:hover{
    text-decoration: none;
    color: darkgray;
}

.nav-link-cust{
    padding:0;
}

.nav-simple{

}

.nav-left > ul{
    overflow: hidden;
    transition: 450ms all;
}
.nav-left > ul > li{
    transition: 500ms transform;
}

.nav-fade > ul{
    transition: 450ms all;
    opacity: 1;
}

.nav-large{

}

.hidden.nav-simple > ul{
    display: none;
}

.hidden.nav-simple > ul{
    display: none;
}

.hidden.nav-fade > ul{
    opacity: 0;
}

.hidden.nav-left > ul{
    opacity: 0;
}

.hidden.nav-left > ul > li{
    transform: translateX(-7em);
}

.hidden > a > i{
    transform: rotate(180deg);
}

.expand-icon{
    transition: 500ms all;
}